{{! UserMenu.hbs - тестовая версия }}
<div class="user-menu">
    <div class="user-menu__avatar">
        {{#if avatar}}
            <img src="{{avatar}}" alt="Аватар" class="user-menu__avatar-img">
        {{else}}
            <div class="user-menu__avatar-placeholder">👤</div>
        {{/if}}
    </div>

    <div class="user-menu__info">
        <div class="user-menu__row">
            <div class="user-menu__name">{{name}}</div>
            
            {{#unless hideSubscribeButton}}
                <!-- DEBUG: Showing button, hideSubscribeButton = {{hideSubscribeButton}} -->
                <button class="user-menu__button {{#if isSubscribed}}user-menu__button--subscribed{{/if}}"
                        data-user-id="{{id}}">
                    {{#if isSubscribed}}
                        Отписаться
                    {{else}}
                        Подписаться
                    {{/if}}
                </button>
            {{else}}
                <!-- DEBUG: Hiding button, hideSubscribeButton = {{hideSubscribeButton}}, id = {{id}} -->
            {{/unless}}
        </div>
        <div class="user-menu__subtitle">{{subtitle}}</div>
    </div>
</div>