{{! UserMenu.hbs - тестовая версия }}
<div class="user-menu">
    <div class="user-menu__avatar">
        {{#if avatar}}
            <img src="{{avatar}}" alt="Аватар" class="user-menu__avatar-img">
        {{else}}
            <div class="user-menu__avatar-placeholder">👤</div>
        {{/if}}
    </div>

    <div class="user-menu__info">
        <div class="user-menu__row">
            <div class="user-menu__name">{{name}}</div>
            
                {{#unless hideSubscribeButton}}
                    {{#if isSubscribed}}
                        <button class="user-menu__button user-menu__button--subscribed" data-user-id="{{id}}">Отписаться</button>
                    {{else}}
                        <button class="user-menu__button user-menu__button--subscribe" data-user-id="{{id}}">Подписаться</button>
                    {{/if}}
                {{/unless}}
            </div>
        <div class="user-menu__subtitle">{{subtitle}}</div>
    </div>
</div>