<div class="settings-account">
    <div class="settings-account__container">
        <div class="settings-account__title-wrapper">
            <h1 class="settings-account__title">Учетная запись</h1>
            <span class="settings-account__title-line"></span>
        </div>
        
        <div class="settings-account__content">
            <form class="settings-account__form">
                <div class="settings-account__section">
                    <div class="upload_group">

                        <div class="settings-account__field">
                            <label class="settings-account__label">Изменить фото профиля</label>
                            <div class="avatar-section">
                                <div class="avatar-preview">
                                    {{#if userData.avatar_url}}
                                        <img src="{{userData.avatar_url}}" alt="Аватар" class="avatar-image">
                                    {{else}}
                                        <div class="avatar-placeholder">Нет фото</div>
                                    {{/if}}
                                </div>
                                <div class="avatar-actions">
                                    <input type="file" id="avatar-upload" accept=".jpg,.jpeg" style="display: none;">
                                    <button type="button" class="avatar-change-btn" id="change-avatar-btn" {{#if isUploadingAvatar}}disabled{{/if}}>
                                        {{#if isUploadingAvatar}}Загрузка...{{else}}Изменить{{/if}}
                                    </button>
                                    <button type="button" class="avatar-delete-btn" id="delete-avatar-btn" {{#if isUploadingAvatar}}disabled{{/if}}>
                                        {{#if isUploadingAvatar}}Удаление...{{else}}Удалить{{/if}}
                                    </button>
                                </div>
                            </div>
                            {{#if isUploadingAvatar}}
                                <div class="form-hint loading">Идет загрузка...</div>
                            {{else}}
                                <div class="form-hint">Рекомендуется JPG до 5MB</div>
                            {{/if}}
                        </div>

                        <div class="settings-account__field">
                            <label class="settings-account__label">Изменить обложку профиля</label>
                            <div class="cover-section">
                                <div class="cover-preview">
                                    {{#if userData.cover_url}}
                                        <img src="{{userData.cover_url}}" alt="Обложка" class="cover-image">
                                    {{else}}
                                        <div class="cover-placeholder">Нет обложки</div>
                                    {{/if}}
                                </div>
                                <div class="cover-actions">
                                    <input type="file" id="cover-upload" accept=".jpg,.jpeg" style="display: none;">
                                    <button type="button" class="cover-change-btn" id="change-cover-btn" {{#if isUploadingCover}}disabled{{/if}}>
                                        {{#if isUploadingCover}}Загрузка...{{else}}Изменить{{/if}}
                                    </button>
                                    <button type="button" class="cover-delete-btn" id="delete-cover-btn" {{#if isUploadingCover}}disabled{{/if}}>
                                        {{#if isUploadingCover}}Удаление...{{else}}Удалить{{/if}}
                                    </button>
                                </div>
                            </div>
                            {{#if isUploadingCover}}
                                <div class="form-hint loading">Идет загрузка...</div>
                            {{else}}
                                <div class="form-hint">Рекомендуется JPG до 5MB</div>
                            {{/if}}
                        </div>

                    </div>

                    <div class="settings-account__field">
                        <label class="settings-account__label" for="name">Имя пользователя *</label>
                        {{> input type="text" value=name name="name" placeholder="Введите имя"}}
                    </div>
                    
                    <div class="settings-account__field">
                        <label class="settings-account__label" for="phone">Телефон</label>
                        {{> input type="tel" value=phone name="phone" placeholder="+7 (XXX) XXX-XX-XX"}}
                    </div>

                    <div class="settings-account__field">
                        <label class="settings-account__label" for="date_of_birth">Дата рождения</label>
                        {{> input type="date" value=date_of_birth name="date_of_birth"}}
                    </div>
                    
                    <div class="settings-account__field">
                        <label class="settings-account__label" for="country">Страна</label>
                        {{> input type="text" value=country name="country" placeholder="Страна"}}
                    </div>
                    
                    <div class="settings-account__field">
                        <label class="settings-account__label" for="language">Язык</label>
                        <select name="language" class="form__input">
                            <option value="Русский" {{#if (eq language "Русский")}}selected{{/if}}>Русский</option>
                            <option value="English" {{#if (eq language "English")}}selected{{/if}}>English</option>
                        </select>
                    </div>
                    
                    <div class="settings-account__field">
                        <label class="settings-account__label" for="sex">Пол</label>
                        <select name="sex" class="form__input">
                            <option value="male" {{#if (eq sex "male")}}selected{{/if}}>Мужской</option>
                            <option value="female" {{#if (eq sex "female")}}selected{{/if}}>Женский</option>
                            <option value="other" {{#if (eq sex "other")}}selected{{/if}}>Другой</option>
                        </select>
                    </div>

                    <div class="settings-account__actions">
                        <button class="settings-account__save-button" type="submit" {{#if isLoading}}disabled{{/if}}>
                            {{#if isLoading}}Сохранение...{{else}}Сохранить изменения{{/if}}
                        </button>
                        <button class="settings-account__delete-button" type="button">
                            Удалить аккаунт
                        </button>
                    </div>

                    <div class="settings-account__field">
                        <label class="settings-account__label">Дата создания учетной записи</label>
                        <div class="settings-account__value">{{created_at}}</div>
                    </div>
                    
                    <div class="settings-account__field">
                        <label class="settings-account__label">Возраст</label>
                        <div class="settings-account__value">{{age}}</div>
                    </div>

                    <div class="settings-account__field">
                        <label class="settings-account__label" for="email">Адрес электронной почты</label>
                        <div class="settings-account__value">{{email}}</div>
                    </div>

                    <div class="settings-account__field">
                        <label class="settings-account__label" for="password">Новый пароль</label>
                        {{> input type="password" name="password" placeholder="Введите новый пароль"}}
                    </div>
                
                </div>

                {{#if error}}
                    <div class="global-error">{{error}}</div>
                {{/if}}


            </form>
        </div>
    </div>
</div>
