<div class="settings-account">
    <div class="settings-account__container">
        <div class="settings-account__header">
            <h1 class="settings-account__title">Сведения об учетной записи</h1>
        </div>
        
        <div class="settings-account__content">
            <div class="settings-account__section">
                <div class="settings-account__field">
                    <label class="settings-account__label">Имя пользователя</label>
                    <div class="settings-account__value">{{name}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Телефон</label>
                    <div class="settings-account__value">{{phone}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Адрес электронной почты</label>
                    <div class="settings-account__value">{{email}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Дата создания учетной записи</label>
                    <div class="settings-account__value">{{created_at}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Страна</label>
                    <div class="settings-account__value">{{country}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Языки</label>
                    <div class="settings-account__value">{{language}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Пол</label>
                    <div class="settings-account__value">{{sex}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Дата рождения</label>
                    <div class="settings-account__value">{{date_of_birth}}</div>
                </div>
                
                <div class="settings-account__field">
                    <label class="settings-account__label">Возраст</label>
                    <div class="settings-account__value">{{age}}</div>
                </div>
            </div>

            <div class="settings-account__actions">
                <button class="settings-account__edit-button" type="button">
                    Изменить данные
                </button>
                <button class="settings-account__delete-button" type="button">
                    Удалить аккаунт
                </button>
            </div>
        </div>
    </div>
</div>